/*
Author       : Charles Evans Ogego Otieno.
Project Title: Wakaka Media Website Redesign
Version      : 1.0
*/
/*=============================================================
    CSS INDEX
    =============================
    01. GENERAL STYLE (body, link color, section-title, preloader btn, overlay, section-padding etc)
    02. BOOTSTRAP NAVIGATION OVERRIDES
    03. START HOME SLIDER DESIGN
    04. START ABOUT US DESIGN
    05. START SERVICE DESIGN
    06. START WHY CHOOSE US DESIGN
    07. START TEAM DESIGN
    08. START SKILL DESIGN
    09. START COUNTER DESIGN
    10. START TESITMONIAL DESIGN
    11. START PRICING TABLE DESIGN
    12. START COMPANY PARTNER LOGO
    13. START PORTFOLIO DESIGN 
    14. START BLOG PAGE DESIGN
    15. START FAQ PAGE DESIGN
    16. START 404 PAGE DESIGN
    17. START PROMOTION DESIGN
    18. START CONTACT PAGES DESIGN
    19. START FOOTER DESIGN
    20. START FOOTER BOTTOM DESIGN
    21. START SECTION TOP DESIGN
  =============================================================*/
/*
* ----------------------------------------------------------------------------------------
* 01.GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
body {
    font-family: 'Cousine',sans-serif;
    font-size: 13px;
    color: #707070;
    overflow-x: hidden;
    margin: auto;
    background: #fff;
}
html,
body { height: 100% }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    color: #161616;
    text-transform: uppercase;
}
a {
    font-family: "Montserrat",sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
p { line-height: 2 }
ul,
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}
::-moz-selection {
    color: #fff;
    background: #eb2e4a;
}
::-webkit-selection {
    color: #fff;
    background: #eb2e4a;
}
/*START PRELOADER DESIGN*/
.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.status,
.status-mes {
    background-image: url(../img/status.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}
.status-mes h4 {
    color: #333;
    margin-top: 40px;
    text-transform: uppercase;
}
.no-padding { padding: 0 }
/*END PRELOADER DESIGN*/
/*START SCROLL TO TOP*/
.topcontrol {
    background: #eb2e4a none repeat scroll 0 0;
    border-radius: 50px;
    bottom: 5px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    height: 40px;
    opacity: 1;
    filter: alpha(opacity=100);
    padding: 2px 12px;
    position: fixed;
    right: 5px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 40px;
}
.topcontrol:hover {
    background: #222;
    color: #fff;
}
/*END SCROLL TO TOP*/
.section-padding { padding: 60px 0 }
/*START SECTION TITLE DESIGN*/
.section-title { margin-bottom: 60px }
.section-title  h2 {
    color: #161616;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}
.section-title  h2 span { color: #eb2e4a }
@media only screen and (max-width:320px) { 
    .section-title  h2 { font-size: 24px }
}
.section-title-white {
    color: #fff !important;
    position: relative;
}
.line {
    background: #eb2e4a none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin: 20px auto;
    width: 80px;
}
.section-title p {
    margin: auto;
    width: 70%;
}
/*END SECTION TITLE DESIGN*/
/*START BTN STYLE*/
.btn-light-bg {
backface-visibility: hidden;
background: #eb2e4a none repeat scroll 0 0;
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
color: #fff;
display: inline-block;
font-family: "Montserrat",sans-serif;
font-size: 14px;
padding: 10px 30px;
position: relative;
text-transform: uppercase;
transform: translateZ(0px);
transition-duration: 0.5s;
transition-property: color;
vertical-align: middle;
}
.btn-light-bg:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FC516A;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-light-bg:hover, .btn-light-bg:focus, .btn-light-bg:active {
  color: white;
}
.btn-light-bg:hover:before, .btn-light-bg:focus:before, .btn-light-bg:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*END BTN STYLE*/
/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 02. START BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
.navbar-default {
    background: #ffffff;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 20px 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
    width: 100%;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #eb2e4a !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #eb2e4a !important;
    background-color: transparent;
}
.navbar-brand { padding: 0px }
.navbar-brand img { width: 190px;margin-left:10px; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #fff;
}
.menu-top li a {
    color: #000  !important;
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.menu-top li a:hover { color: #eb2e4a!important }
@media only screen and (max-width:768px) { 
    .navbar-default .navbar-nav > li > a {
        margin-top: 10px;
        padding: 8px;
    }
}
@media only screen and (max-width:480px) { 
    .menu-top { background-color: #fff }
    .navbar-default .navbar-nav > li > a { color: #313131  !important }
}
.navbar-default.menu-shrink {
    background-color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
}
@media only screen and (max-width:480px) { 
    .menu-top {
        color: #fff !important;
        margin-left: 0px;
    }
}
/*START DROPDOWN MENU*/
.menu_dropdown  ul { list-style-type: none }
.menu_dropdown  li ul.sub-menu,
.menu_dropdown  ul li ul.sub-menu li ul.sub-menu {
    background: #fff;
    left: 10px;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 15px;
    position: absolute;
    top: 115%;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 200px;
    z-index: -99;
}
.menu_dropdown  ul li ul.sub-menu li ul.sub-menu {
    top: 0;
    left: 100%;
    -webkit-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
}
.menu_dropdown  ul li ul.sub-menu li {
    padding: 0;
    width: 100%;
}
.menu_dropdown  ul li:hover ul.sub-menu {
    top: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 999;
    visibility: visible;
}
.menu_dropdown  ul.nav > li ul li:hover ul.sub-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}
.menu_dropdown  ul li ul.sub-menu li a {
border-bottom: 1px solid #eee;
color: #333 !important;
cursor: pointer;
display: block;
font-size: 12px;
font-weight: 400;
padding: 13px 10px 12px;
text-transform: uppercase;
}
.menu_dropdown  ul li ul.sub-menu li:last-child a{border-bottom:none;}
.menu_dropdown  ul li:hover ul.sub-menu li a:hover {
    color: #eb2e4a!important;
    text-decoration: none;
}
/*END DROPDOWN MENU*/
.navbar-default.menu-shrink li a { color: #282828 !important }
.navbar-default.menu-shrink li a:hover { color: #eb2e4a !important }
.navbar-default .navbar-toggle { background: #fff none repeat scroll 0 0 }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #fff }
.navbar-default .navbar-toggle .icon-bar { background-color: #eb2e4a }
/*
* ----------------------------------------------------------------------------------------
* 02.END BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 *  03.START HOME SLIDER DESIGN
 * ----------------------------------------------------------------------------------------
 */
#home-slider {
    overflow: hidden;
    position: relative;
}
.caption {
    color: #fff;
    left: 0;
    margin-top: -104px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    z-index: 15;
}
@media only screen and (max-width:414px) { 
    .caption { top: 35% }
}
.caption h2 {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border: 4px double #333;
    color: #333;
    font-size: 44px;
    margin: auto auto 20px;
    padding: 10px 0;
    width: 70%;
}
@media only screen and (max-width:768px) { 
    .caption h2 { font-size: 26px }
}
@media only screen and (max-width:480px) { 
    .caption h2 {
        font-size: 30px;
        line-height: 40px;
    }
}
@media only screen and (max-width:320px) { 
    .caption h2 { font-size: 24px }
}
.caption p {
    margin: auto auto 0px;
    width: 60%;
}
.caption a {
    box-shadow: 0 10px 11px 0 rgba(0, 0, 0, 0.1);
    margin: 30px 0 0 30px;
    padding: 13px 35px;
}
@media only screen and (max-width:480px) { 
.caption a {margin: 30px 0 0 0px;}
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition-property: opacity;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
.carousel-fade .carousel-inner .item:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
    filter: alpha(opacity=100);
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    filter: alpha(opacity=100);
}
.carousel-fade .carousel-control { z-index: 2 }
.left-control,
.right-control {
    background: #eb2e4a none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    font-size: 24px;
    height: 51px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 51px;
    z-index: 20;
}
@media only screen and (max-width:480px) { 
    .left-control,
    .right-control { display: none }
}
.left-control { left: -51px }
.right-control { right: -51px }
.left-control:hover,
.right-control:hover {
    background-color: #fff;
    color: #eb2e4a;
}
#home-slider:hover .left-control { left: 30px }
#home-slider:hover .right-control { right: 30px }
#home-slider .fa-angle-down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    color: #fff;
    display: inline-block;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    line-height: 24px;
    z-index: 999;
    -webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite;
}
/*
 * ----------------------------------------------------------------------------------------
 *  03.END HOME SLIDER DESIGN
 * ----------------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------------
 *  04.START ABOUT US DESIGN
 * ----------------------------------------------------------------------------------------
*/
.about-us-content { margin-top: 60px }
@media only screen and (max-width:768px) { 
    .about-us-content { margin-top: 0px }
}
.about-us-content h2 { margin: 0 }
@media only screen and (max-width:768px) { 
    .about-us-content h2 { font-size: 24px }
}
.about-line {
    background: #eb2e4a none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin: 20px 0;
    width: 80px;
}
.about-us-content h2 span { color: #eb2e4a }
.about-us-content p { margin-bottom: 30px }
.about_img {
    margin: auto;
    width: 400px;
}
@media only screen and (max-width:768px) { 
    .about_img { width: 100% }
}
@media only screen and (max-width:480px) { 
    .about_img { margin-top: 60px }
}
/*
 * ----------------------------------------------------------------------------------------
 *  04.END  ABOUT US DESIGN
 * ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 *  05.START SERVICE DESIGN
 * ----------------------------------------------------------------------------------------
*/
/*START HOME SERVICE DESIGN*/
.home_single_service {
    margin-bottom: 30px;
    padding: 70px 20px;
    background: #CEDC31;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.home_single_service i {
    background: #eb2e4a none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 55px;
}
.home_single_service h4 {
    font-size: 16px;
    margin-top: 0;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.home_single_service p {
    margin-bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    height: 110px;
}
.home_single_service:hover {
    background: #eb2e4a none repeat scroll 0 0;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    z-index: 1;
}
.home_single_service:hover i {
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    color: #eb2e4a;
}
.home_single_service:hover h4 { color: #fff }
.home_single_service:hover p { color: #fff }
/*END HOME SERVICE DESIGN*/
.single_service, .single_service_products {
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding: 50px 20px;
    background: #CEDC31;
}
.single_service_products{
    height: 800px;
}
.single_service{
    height: 200px;
}
.single_service i, .single_service_products i {
    background: #eb2e4a none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 55px;
}
.single_service:hover i {
    background: #fff;
    color: #eb2e4a;
}
.single_service h4 {
    font-size: 16px;
    margin-top: 0;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.single_service:hover h4 { color: #eb2e4a }
.single_service p { margin-bottom: 0 }
.single_service_img img { margin: auto }
/*
 * ----------------------------------------------------------------------------------------
 *  05.END SERVICE DESIGN
 * ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 *  06.START WHY CHOOSE US DESIGN
 * ----------------------------------------------------------------------------------------
*/
.why_choose { margin-bottom: 60px }
@media only screen and (max-width:480px) { 
.why_choose { margin-top: 60px }
}
.why_choose h3 { margin: 0 }
.why_choose span {
    background: #eb2e4a;
    height: 2px;
    width: 80px;
    display: block;
    margin: 15px 0;
}
.why_choose p { margin-bottom: 0 }
/*
 * ----------------------------------------------------------------------------------------
 *  06.END WHY CHOOSE US DESIGN
 * ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 07.START TEAM DESIGN
* ----------------------------------------------------------------------------------------
*/
.tema-member { border: 1px solid #eee }
@media only screen and (max-width:768px) { 
    .tema-member { margin-bottom: 20px }
}
.tema-member .team-thumbnail { position: relative }
@media only screen and (max-width:480px) { 
    .team-thumbnail img { width: 100% }
}
.tema-member .team-thumbnail .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    bottom: -1px;
    height: 100%;
    background: rgba(235, 46, 74,0.6);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tema-member .team-thumbnail .social-media {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
    -webkit-transform: translateX(100%);
    -moz-webkit-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tema-member .team-thumbnail .social-media a { display: inline-block }
.tema-member .team-thumbnail .social-media a i {
    background: #fff none repeat scroll 0 0;
    border-radius: 50px;
    color: #161616;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 0px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 40px;
}
.tema-member .team-thumbnail .social-media a i:hover { color: #fff }
.tema-member .team-thumbnail .social-media a.team_facebook:hover i { background: #507CBE }
.tema-member .team-thumbnail .social-media a.team_twitter:hover i { background: #63CDF1 }
.tema-member .team-thumbnail .social-media a.team_google:hover i { background: #F16261 }
.tema-member .team-thumbnail .social-media a.team_linkedin:hover i { background: #0077B5 }
.info { padding: 10px }
.tema-member .info h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.tema-member:hover .info h3 { color: #eb2e4a }
.tema-member .info p { margin-bottom: 0 }
.tema-member:hover .social-media {
    -webkit-transform: translateY(-90%);
    -moz-webkit-transform: translateY(-90%);
    -webkit-transform: translateY(-90%);
    -ms-transform: translateY(-90%);
    transform: translateY(-90%);
}
.overlay p{
    margin-top: 120px;
    color: #ffffff !important;
}
.tema-member:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}
.facebook { background: #5D82D1 }
.twitter { background: #40BFF5 }
.google { background: #EB5E4C }
.linkedin { background: #238CC8 }
/*
* ----------------------------------------------------------------------------------------
* 07.END TEAM DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 08.START SKILL DESIGN
* ----------------------------------------------------------------------------------------
*/
.our_skills { position: relative }
.our_skills:before {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.video iframe {
    border: 0 none;
    height: 330px;
    width: 100%;
}
@media only screen and (max-width:480px) { 
    .video iframe { margin-bottom: 40px }
}
.progress-bar-text {
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.progress-bar-text span { float: right }
.progress-bar {
    background: #eee none repeat scroll 0 0;
    box-shadow: 0 0 0;
    height: 6px;
    margin: 0 0 20px;
    position: relative;
    width: 100%;
}
.progress-bar > span {
    background: #eb2e4a none repeat scroll 0 0;
    display: block;
    height: 100%;
    width: 0;
}
/*
* ----------------------------------------------------------------------------------------
* 08.END SKILL DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 09.START COUNTER DESIGN
* ----------------------------------------------------------------------------------------
*/
.counter_feature {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 100px 0;
}
@media only screen and (max-width:768px) { 
    .counter {
        margin-bottom: 20px;
        overflow: hidden;
    }
}
.counter i {
    background: #eb2e4a none repeat scroll 0 0;
    border-radius: 100px;
    color: #fff;
    float: left;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    margin-right: 20px;
    text-align: center;
    width: 70px;
}
.counter h2 {
    color: #161616;
    font-weight: 700;
    margin-top: 0;
}
.counter h5 {
    color: #161616;
    text-transform: uppercase;
    margin-bottom: 0;
}
@media only screen and (max-width:768px) { 
    .counter p { font-size: 13px }
}
@media only screen and (max-width:360px) { 
    .counter p { font-size: 12px }
}
@media only screen and (max-width:320px) { 
    .counter p { font-size: 18px }
}
/*
* ----------------------------------------------------------------------------------------
* 09.END COUNTER DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 10.START TESITMONIAL DESIGN
* ----------------------------------------------------------------------------------------
*/
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



.client_testimonial {
    padding-bottom: 50px;
    padding-top: 100px;
    position: relative;
}
.client_testimonial:before {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.ms-staff-carousel {
    max-width: 1170px;
    overflow: hidden;
    position: relative;
}
.ms-staff-carousel .ms-view {
    overflow: visible;
    background-color: transparent;
}
.ms-staff-carousel .ms-nav-prev,
.ms-staff-carousel .ms-nav-next {
    background: url(../img/arrows.png) white no-repeat -7px -57px;
    width: 35px;
    height: 40px;
    left: -35px;
    margin-top: -17px;
    box-shadow: 0px 1px 0px 0px rgb(190, 190, 190);
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.ms-staff-carousel .ms-nav-next {
    background-position: -6px -7px;
    right: -35px;
    left: auto;
}
.ms-staff-carousel .ms-staff-info {
    color: #fff;
    min-height: 210px;
    margin-top: 30px;
}
@media only screen and (max-width:768px) { 
    .ms-staff-carousel .ms-staff-info { min-height: 300px }
}
@media only screen and (max-width:480px) { 
    .ms-staff-carousel .ms-staff-info { min-height: 350px }
}
@media only screen and (max-width:360px) { 
    .ms-staff-carousel .ms-staff-info { min-height: 450px }
}
@media only screen and (max-width:320px) { 
    .ms-staff-carousel .ms-staff-info { min-height: 520px }
}
.ms-staff-carousel .ms-staff-info h3 {
    margin: 0;
    padding-bottom: 10px;
    color: #fff;
    font-size: 16px;
}
.ms-staff-carousel .ms-staff-info h3 span { color: #eb2e4a }
.ms-staff-carousel .ms-staff-info p {
    margin: auto;
    width: 80%;
    margin-bottom: 30px;
}
.ms-staff-carousel .ms-staff-info .email a {
    text-decoration: none;
    color: #a8e12a;
}
.ms-staff-carousel .ms-staff-info.email,
.ms-staff-info p {
    margin: 4px;
    font-size: 11pt;
}
.ms-staff-carousel.ms-round .ms-slide-bgcont {
    border-radius: 5000px;
    border: solid 8px rgb(230, 230, 230);
    margin: 0 -8px;
}
.ms-staff-carousel.ms-round .ms-nav-prev,
.ms-staff-carousel.ms-round .ms-nav-next {
    background-color: transparent;
    box-shadow : none;
    left: -45px;
}
.ms-staff-carousel.ms-round .ms-nav-next {
    left: auto;
    right: -45px;
}
.ms-staff-carousel.ms-round .ms-slide-bgcont {
    border-radius: 5000px;
    border: solid 8px rgb(230, 230, 230);
    margin: 0 -8px;
}
.team .team-box {
    text-align: center;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 4px;
}
.team .team-box img {
    display: block;
    margin: 0 auto;
}
.team .team-box h4 {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 15px;
}
.team .team-box em {
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
}
/*
* ----------------------------------------------------------------------------------------
* 10.END TESITMONIAL DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 11.START PRICING TABLE DESIGN
* ----------------------------------------------------------------------------------------
*/
.single_pricing {
    border: 1px solid #eee;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
@media only screen and (max-width:480px) { 
    .single_pricing { margin-bottom: 40px }
}
.single_pricing:hover { box-shadow: 0 21px 35px rgba(0, 0, 0, 0.2) }
.single_pricing h3 {
    border-bottom: 1px solid #eee;
    color: #161616;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 0 30px;
    padding: 15px 0;
}
.price { display: inline-block }
.price span {
    color: #eb2e4a;
    display: block;
    font-family: montserrat,sans-serif;
    font-size: 25px;
}
.price h5 {
    color: #161616;
    margin: 5px 0 40px;
}
.pricing-list {
    list-style: outside none none;
    margin-bottom: 0;
    text-align: center;
}
.pricing-list li {
    border-bottom: 1px solid #eee;
    color: #161616;
    font-size: 14px;
    padding: 12px 0;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.pricing-btn { padding: 20px 0 }

/*START PRICING TABLE TWO DESIGN*/

/*START PRICING TABLE TWO DESIGN*/

/*
* ----------------------------------------------------------------------------------------
* 11.END PRICING TABLE ESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 12.START COMPANY PARTNER LOGO
* ----------------------------------------------------------------------------------------
*/
.partner-logo {
    padding-top: 60px;
    padding-bottom: 30px;
}
.partner { text-align: center }
.partner img { border: 1px solid #e8e8e9 }
.owl-theme .owl-controls .owl-page span { display: none }
/*
* ----------------------------------------------------------------------------------------
* 12.END COMPANY PARTNER LOGO
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 13.START PORTFOLIO DESIGN
* ----------------------------------------------------------------------------------------
*/
.portfolio-filters { margin-bottom: 60px }
.portfolio-filters li.active {
    background-color: #eb2e4a;
    border-color: #eb2e4a;
    color: #fff;
}
.portfolio-filters li {
    border: 1px solid #eee;
    color: #161616;
    cursor: pointer;
    display: inline-block;
    font-family: montserrat;
    font-weight: 400;
    margin-right: 5px;
    padding: 8px 30px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
@media only screen and (max-width:480px) { 
    .portfolio-filters li { padding: 8px 24px;margin-bottom: 15px}
}
.portfolio-filters li:hover {
    background: #eb2e4a;
    color: #fff;
    border: 1px solid #eb2e4a;
}
.grid .mix {
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-wrapper { position: relative }
.image-wrapper-mb30 { margin-bottom: 30px }
.image-wrapper img {
    width: 100% !important;
    height: auto;
}
.image-overlay {
    background: rgba(235, 46, 74, 0.6) none repeat scroll 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.image-overlay span {
    position: absolute;
    top: 40%;
    color: #fff;
    left: 38%;
}
.image-overlay span i {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
    width: 50px;
}
.image-overlay span i:hover {
    background: #fff;
    color: #eb2e4a;
}
.image-wrapper:hover .image-overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}
.portfolio_btn { padding-top: 50px }
/*START PORTFOLIO SINGLE PAGE DESIGN*/
.section-top-title h2 {
    color: #fff;
    font-size: 45px;
    margin: 0;
    text-transform: uppercase;
}
@media only screen and (max-width:320px) { 
    .section-top-title h2 { font-size: 40px }
}
.section-top-title {
    padding-bottom: 60px;
    padding-top: 100px;
}
.section-top-title,
.breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 0;
}
.section-top-title ol li { color: #fff!important }
.section-top-title ol li a { color: #fff!important }
.section-top-title ol li a:hover { color: #1CBAC8!important }
/*START SINGLE PROJECT HERE*/
.slide-item-image { width: 1170px }
.project_dec {
    overflow: hidden;
    float: left;
    width: 600px;
    margin-right: 40px;
}
.project_dec img {
    display: block;
    margin-bottom: 10px;
    position: relative;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
}
.project_dec:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.about_project { overflow: hidden }
.about_project h4,
.about_project_details h4 {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.about_project_details { margin-bottom: 20px }
.about_project_details ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.about_project_details ul li { padding: 5px 0 }
.about_project_details ul li i {
    color: #eb2e4a;
    margin-right: 10px;
}
.about_project_details ul li a {
    color: #eb2e4a;
    font-weight: 700;
}
.about_project_details ul li a:hover { text-decoration: underline }
.mtop { margin-top: 60px }
/*END SINGLE PROJECT HERE*/
/*
* ----------------------------------------------------------------------------------------
* 13.END PORTFOLIO DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 14.START BLOG PAGE DESIGN
* ----------------------------------------------------------------------------------------
*/
/*START HOME BLOG*/
.home_single_blog { }
@media only screen and (max-width:768px) { 
    .home_single_blog { margin-bottom: 30px }
}
.home_single_blog img { width: 560px }
@media only screen and (max-width:768px) { 
    .home_single_blog img { width: 100% }
}
.home_blog_text {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #eee;
    margin: 55% auto auto;
    padding: 30px;
    position: relative;
    width: 90%;
    z-index: 1;
}
.home_blog_text i { color: #eb2e4a }
.home_blog_text span {
    color: #eb2e4a;
    text-transform: uppercase;
    margin-right: 15px;
}
.home_blog_text h4 { margin: 20px 0 }
.home_blog_text p { margin-bottom: 20px }
/*END HOME BLOG*/
.single_blog {
    margin-bottom: 60px;
    overflow: hidden;
    position: relative;
}
.blog-text {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #eee;
    margin: 14% auto auto;
    padding: 30px;
    position: relative;
    width: 80%;
    z-index: 1;
}
@media only screen and (max-width:480px) { 
    .blog-text { width: 50% }
}
@media only screen and (max-width:360px) { 
    .blog-text { width: 80% }
}
@media only screen and (max-width:480px) { 
    .blog-text { width: 70% }
}
.blog-text i { color: #eb2e4a }
.blog-text span {
    color: #eb2e4a;
    text-transform: uppercase;
    margin-right: 15px;
}
.blog-text h4 { margin: 20px 0 }
.blog-text p { margin-bottom: 20px }
.blog-photo {
    position: absolute;
    top: 0;
}
/*START PAGINATION*/
ul.blog_pagination li a {
    border: 1px solid #eee;
    border-radius: 0 !important;
    color: #161616;
    font-size: 18px;
    height: 46px;
    margin: 5px;
    line-height: 35px;
    width: 45px;
    text-align: center;
}
ul.blog_pagination li a:hover {
    color: #fff;
    background: #eb2e4a;
    border: 1px solid #eb2e4a;
}
/*END PAGINATION*/
/*START BLOG SIDEBAR DESIGN*/
.blog_sidebar_title {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 10px;
}
.blog_search,
.latest_blog,
.video_post,
.categories { margin-bottom: 60px }
@media only screen and (max-width:768px) { 
    .blog_search { margin-top: 60px }
}
.blog_search input {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 0 !important;
    color: #161616;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.single_latest_blog { overflow: hidden }
.single_latest_blog_mt { margin-top: 20px }
.single_latest_blog img {
    border: 3px solid #eb2e4a;
    float: left;
    height: 80px;
    margin-right: 15px;
    overflow: hidden;
    width: 80px;
}
.single_latest_blog h4 {
    color: #161616;
    font-size: 16px;
    margin: 10px 0 0;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.single_latest_blog:hover h4 { color: #eb2e4a }
.single_latest_blog span { color: #161616 }
.categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.categories ul li { }
.categories ul li a {
    color: #333;
    display: block;
    font-size: 14px;
    padding: 5px 0;
}
.categories ul li a:hover { color: #eb2e4a }
.categories ul li a i { margin-right: 10px }
.video_post iframe {
    width: 100%;
    height: 220px;
    border: medium none;
}
.tag a {
    border: 1px solid #eee;
    display: block;
    float: left;
    font-size: 12px;
    margin: 4px;
    padding: 8px 18px;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    text-transform: uppercase;
    color: #161616;
}
.tag a:hover {
    background: #eb2e4a;
    color: #fff;
    border: 1px solid #eb2e4a;
}
/*END BLOG SIDEBAR DESIGN*/
/*START BLOG SINGLE PAGE DESIGN*/
.single_blog_post { margin-bottom: 60px }
.single_blog_post img {
    width: 750px;
    height: 455px;
}
.blog_post_text h4 { margin: 30px 0 }
.author_part {
    margin-bottom: 60px;
    overflow: hidden;
}
.single_author {
    background: #f9f9f9 none repeat scroll 0 0;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.author_part img {
    border: 4px solid #eb2e4a;
    border-radius: 100px;
    float: left;
    height: 120px;
    margin-bottom: 25px;
    margin-right: 20px;
    width: 120px;
}
.author_part h4 { }
.author_part p { margin-bottom: 0 }
.blog_head_title {
    border-bottom: 1px solid #eee;
    margin: 0 0 30px;
    padding-bottom: 10px;
}
.comments_part {
    margin-bottom: 60px;
    overflow: hidden;
}
.single_comment {
    margin-bottom: 30px;
    background: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.single_comment_mbnone { margin-bottom: 0px }
.single_comment img {
    border: 4px solid #eb2e4a;
    border-radius: 100px;
    float: left;
    height: 120px;
    margin-bottom: 25px;
    margin-right: 20px;
    width: 120px;
}
.single_comment h4 { }
.single_comment p { margin-bottom: 0 }
/*END BLOG SINGLE PAGE DESIGN*/
/*
* ----------------------------------------------------------------------------------------
* 14.END BLOG PAGE DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 15.START FAQ PAGE DESIGN
* ----------------------------------------------------------------------------------------
*/
.faq-title h3 { margin: 0 }
.panel-default .panel-heading {
    color: #161616;
    background-color: #f9f9f9;
    border-color: #eee;
    font-size: 16px;
    padding: 16px;
}
.panel-group .panel + .panel {
    margin: 0;
    border: none;
    border-bottom: 0px;
}
.panel-group .panel {
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
}
.panel-body {
    padding: 30px;
    border-radius: 0px;
}
.panel-heading { border-radius: 0px }
.panel-title a {
    color: #161616;
    display: block;
    font-family: montserrat,sans-serif;
	text-transform: capitalize;
    font-weight: 400;
}
@media only screen and (max-width:360px) { 
    .panel-title { font-size: 12px }
}
.panel-title a:after {
    content: "\f067";
    font: 18px fontAwesome;
    float: left;
    margin-right: 25px;
    margin-top: 2px;
}
.panel-title a:after {
    content: "\f068";
    font: 18px fontAwesome;
    float: left;
    margin-right: 25px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #eb2e4a;
    height: 49px;
    width: 49px;
    margin-left: -16px;
    margin-top: -16px;
    line-height: 55px;
    text-align: center;
}
.panel-title a.collapsed:after {
    content: "\f067";
    font: 18px fontAwesome;
    float: left;
    margin-right: 25px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #eb2e4a;
    height: 49px;
    width: 49px;
    margin-left: -16px;
    margin-top: -16px;
    line-height: 55px;
    text-align: center;
}
.customer_support { margin-bottom: 60px }
.faq-title span {
    background: #eb2e4a none repeat scroll 0 0;
    display: block;
    height: 3px;
    margin: 20px auto 30px;
    width: 80px;
}
/*
* ----------------------------------------------------------------------------------------
* 15.END FAQ PAGE DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 16.START 404 PAGE DESIGN
* ----------------------------------------------------------------------------------------
*/
.page_error {
    position: relative;
    height: 700px;
}
.page_error:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}
.search { margin-bottom: 30px }
.error_page { padding-top: 150px }
.error_page h1 {
    color: #fff;
    font-size: 200px;
    margin: 0;
    text-shadow: 0 4px 0 #dcdcdc;
}
@media only screen and (max-width:360px) { 
    .error_page h1 { font-size: 150px }
}
.error_page h1 span { color: #eb2e4a }
@media only screen and (max-width:320px) { 
    .error_page h1 { font-size: 150px }
}
.form-control-feedback {
    color: #fff;
    line-height: 50px !important;
}
.error_page h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.error_page input {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 16px;
    margin-bottom: 40px;
}
.error_page input:hover,
.error_page input:focus { border: none }
.btn-error-bg {
    background: #eb2e4a none repeat scroll 0 0;
    color: #fff;
    padding: 12px 36px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.btn-error-bg:hover {
    background: #fff;
    color: #333;
}
/*
* ----------------------------------------------------------------------------------------
* 16.END 404 PAGE DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 17.START PROMOTION DESIGN
* ----------------------------------------------------------------------------------------
*/
.buy_now {
    background: #09121b none repeat scroll 0 0;
    padding: 30px 0;
}
.buy_now_title {
    color: #fff;
    font-family: montserrat,sans-serif;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}
@media only screen and (max-width:768px) { 
    .buy_now_title { font-size: 22px }
}
@media only screen and (max-width:360px) { 
    .buy_now_title { font-size: 15px }
}
.buy_now_title a { margin-left: 200px }
@media only screen and (max-width:768px) { 
    .buy_now_title a { margin-left: 20px }
}
@media only screen and (max-width:480px) { 
    .buy_now_title a { margin-top: 20px }
}
/*
* ----------------------------------------------------------------------------------------
* 17.END PROMOTION DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 18.START CONTACT PAGES DESIGN
* ----------------------------------------------------------------------------------------
*/
.contact-title {
    background: #eb2e4a none repeat scroll 0 0;
    border: 4px double #fff;
    color: #fff;
    font-size: 24px;
    margin: 0 auto 60px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
}
.single-address { margin-bottom: 60px }
.mb-none { margin-bottom: 0px }
.single-address i {
    font-size: 22px;
    background: #eb2e4a;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding: 20px 20px;
    text-align: center;
}
.single-address h2 { font-size: 18px }
.single-address p {
    font-size: 14px;
    margin-bottom: 0;
}
.contact_padding { padding-top: 60px }
.form-control {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: none;
    color: #333;
    height: 50px;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.form-control:hover,
.form-control:focus {
    border: 1px solid #eb2e4a;
    box-shadow: none;
    outline: 0 none;
}
.description textarea { height: 220px }
.form-group  button { border: none }
@media only screen and (max-width:480px) { 
    .actions { margin-bottom: 60px }
}
.btn-contact-bg {
    background: #eb2e4a none repeat scroll 0 0;
    border-radius: 0 !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-family: montserrat,sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: #333;
    color: #fff;
}
.map { height: 400px }
/*
* ----------------------------------------------------------------------------------------
* 18.END CONTACT PAGES DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 19.START FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/
.footer {
    position: relative;
    padding: 60px 0;
}
.footer:before {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
@media only screen and (max-width:768px) { 
    .single_footer { margin-bottom: 40px }
}
.single_footer h1 {
    background: #eb2e4a none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    margin: 0 0 30px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}
/*START FOOTER ABOUT DESIGN*/
.footer_contact ul li {
    color: #fff;
    overflow: hidden;
    margin-bottom: 15px;
}
.footer_contact ul li span {
    display: block;
    padding-top: 8px;
}
.single_footer p {
    color: #fff;
    margin-bottom: 30px;
}
.single_footer i {
    background: #eb2e4a none repeat scroll 0 0;
    border: 1px solid #eb2e4a;
    border-radius: 30px;
    color: #fff;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
}
/*START FOOTER SOCIAL DESIGN*/
@media only screen and (max-width:480px) { 
    .footer_social { margin-bottom: 30px }
}
.footer_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_social ul li { display: inline-block }
.footer_social ul li a {
    box-shadow: 0 0 0 7px transparent;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 21px;
    padding: 9px 12px;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
    width: 40px;
    text-align: center;
}
@media only screen and (max-width:768px) { 
    .footer_social ul li a { font-size: 12px }
}
@media only screen and (max-width:360px) { 
    .footer_social ul li a { font-size: 14px }
}
.footer_social ul li a:hover { color: #fff }
.f_facebook {
    background: #5D82D1;
    box-shadow: 0 0 0 0px #5D82D1;
    border: 1px solid #5D82D1;
}
.f_facebook:hover {
    box-shadow: 0 0 0 0px #5D82D1;
    border: 1px solid #5D82D1;
}
.f_twitter {
    background: #40BFF5;
    box-shadow: 0 0 0 0px #40BFF5;
    border: 1px solid #40BFF5;
}
.f_twitter:hover {
    box-shadow: 0 0 0 0px #40BFF5;
    border: 1px solid #40BFF5;
}
.f_google {
    background: #EB5E4C;
    box-shadow: 0 0 0 0px #EB5E4C;
    border: 1px solid #EB5E4C;
}
.f_google:hover {
    box-shadow: 0 0 0 0px #EB5E4C;
    border: 1px solid #EB5E4C;
}
.f_linkedin {
    background: #238CC8;
    box-shadow: 0 0 0 0px #238CC8;
    border: 1px solid #238CC8;
}
.f_linkedin:hover {
    box-shadow: 0 0 0 0px #238CC8;
    border: 1px solid #238CC8;
}
.f_youtube {
    background: #CC181E;
    box-shadow: 0 0 0 0px #CC181E;
    border: 1px solid #CC181E;
}
.f_youtube:hover {
    box-shadow: 0 0 0 0px #CC181E;
    border: 1px solid #CC181E;
}
.f_skype {
    background: #00AFF0;
    box-shadow: 0 0 0 0px #00AFF0;
    border: 1px solid #00AFF0;
}
.f_skype:hover {
    box-shadow: 0 0 0 0px #00AFF0;
    border: 1px solid #00AFF0;
}
/*END FOOTER SOCIAL DESIGN*/
/*END FOOTER ABOUT DESIGN*/
/*START FOOTER BLOG DESIGN*/
.footer_blog {
    padding-bottom: 20px;
    overflow: hidden;
}
.footer_blog img {
    border: 3px solid #eb2e4a;
    float: left;
    height: 80px;
    margin-right: 15px;
    overflow: hidden;
    width: 80px;
}
.footer_blog  h4 {
    color: #fff;
    font-size: 16px;
    margin: 10px 0 0;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.footer_blog span {
    color: #fff;
    display: block;
    line-height: 22px;
    margin-top: 5px;
}
.footer_blog  h4:hover { color: #eb2e4a }
/*END FOOTER BLOG DESIGN*/
/*START FOOTER SERVICE LINK DESIGN*/
.single_footer a { color: #fff }
.single_footer a:hover { color: #fff }
.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single_footer ul li a {
    color: #fff;
    display: block;
    font-size: 13px;
    padding-bottom: 14px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.single_footer ul li a:hover { color: #eb2e4a }
/*END FOOTER SERVICE LINK DESIGN*/
/*START NEWSLETTER DESIGN*/
.newsletter_bg {
    background: #eb2e4a none repeat scroll 0 0;
    border-radius: 100px;
    margin-top: 30px;
    overflow: hidden;
    padding: 40px 30px;
    position: relative;
}
@media only screen and (max-width:768px) { 
    .newsletter_bg { border-radius: 0px }
}
.newsletter_title {
    color: #fff;
    margin: 15px 0 0;
}
@media only screen and (max-width:768px) { 
    .newsletter_title {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
    }
}
.signup_form input {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    box-shadow: none !important;
    height: 45px;
    color: #333;
    float: left;
    width: 378px;
}
@media only screen and (max-width:768px) { 
    .signup_form input { width: 535px }
}
@media only screen and (max-width:480px) { 
    .signup_form input {
        width: 100%;
        margin-bottom: 20px;
    }
}
.signup_form input:hover,
.signup_form input:focus { border: 1px solid #fff }
.btn-newsletter-bg {
    background: #1b1b1b none repeat scroll 0 0;
    border-radius: 0 !important;
    color: #fff;
    font-family: montserrat,sans-serif;
    height: 45px;
    margin-left: -2px;
    padding: 0 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.btn-newsletter-bg:hover,
.btn-newsletter-bg:focus { color: #fff }
/*END NEWSLETTER DESIGN*/
/*
* ----------------------------------------------------------------------------------------
* 19.END FOOTER TOP DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 20.START FOOTER BOTTOM DESIGN
* ----------------------------------------------------------------------------------------
*/
.footer_copyright {
    background: #0d0d0d none repeat scroll 0 0;
    padding: 30px 0;
}
.copyright {
    color: #fff;
    font-family: montserrat,sans-serif;
}
.copyright p { margin-bottom: 0 }
.copyright a {
    color: #eb2e4a;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.copyright a:hover { color: #fff }
/*
* ----------------------------------------------------------------------------------------
* 20.END FOOTER BOTTOM DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 *  21.START SECTION TOP DESIGN
 * ----------------------------------------------------------------------------------------
 */
.section-top {
    padding-bottom: 85px;
    padding-top: 180px;
    position: relative;
}
.section-top:before {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.section-top-title {
    background: rgba(235, 46, 74, 0.6) none repeat scroll 0 0;
    margin: auto;
    padding: 20px 0;
    width: 400px;
}
@media only screen and (max-width:480px) { 
    .section-top-title { width: 100% }
}
.section-top-title h1 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}
.breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 0;
}
.section-top-title ol li { color: #fff!important }
.section-top-title ol li a { color: #fff!important }
.section-top-title ol li a:hover { color: #fff!important }
/*
 * ----------------------------------------------------------------------------------------
 * 21.END SECTION TOP DESIGN
 * ----------------------------------------------------------------------------------------
*/